<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/app.js" charset="utf-8"></script>
    <link rel="stylesheet" type='text/css' href="Main.css">
      <title>Website</title>
  </head>
  <body>
      <div class="Info">
      <h1>Welcome to my Website</h1>
      </div>
      <div class="about_button">
      <button name='About' type='button' value='About' class="button" onclick="document.location.href='./about';">About</button>
      </div>
      <div class="memes_button">
        <button name="Memes" type='button' value='Memes' class="button" onclick="document.location.href='./memes';">Memes</button>
      </div>
      </body>
</html>
