<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/app.js" charset="utf-8"></script>
    <link rel="stylesheet" type='text/css' href="/Main.css">
      <title>Website</title>
  </head>
  <body>
      <h1>Go to index.html to modify</h1>
      <p>Search for /about to get contact page with links</p>
      <p>Search for /memes to get meme page</p>
      <div class="Color">
        <p>If this is colored red, then css is working</p>
      </div>
  </body>
</html>
