<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Memes_Style.css">
    <title></title>
  </head>
  <body>
      <div class="Title">
        <h1>Welcome to my meme site</h1>
      </div>
      <div class="bigbang">
        <h2>Shaggy meme</h2>
        <img src="/images/bigbang.jpg" alt="">
      </div>
      <div class="turnleft">
        <h2>You had one job</h2>
        <img src="/images/turnleft.png" alt="">
      </div>
      <div class="road">
        <img src="/images/road.jpg" alt="">
      </div>
      <div class="yobamma">
        <h2>YOBAMMA!</h2>
        <img src="/images/yobamma.jpg" alt="">
      </div>
  </body>
</html>
