<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Memes_Style.css">
    <script src="main.js"></script>
    <title>MEMEMS!!!!!!!!!!!!</title>
  </head>
  <body onload="startTime()">
    <div id="txt"></div>
      <div class="about_button">
        <button name="About" type='button' value='About' class="button" onclick="document.location.href='./about';">About</button>
      </div>
      <div class="home_button">
        <button name="Home" type='button' value='Home' class="button" onclick="document.location.href='./';">Home</button>
      </div>
      <div class="Title">
        <h1>Welcome to my meme site</h1>
      </div>
      <div class="bigbang">
        <h2>Shaggy meme</h2>
        <img src="/images/bigbang.jpg" alt="">
      </div>
      <div class="turnleft">
        <h2>You had one job</h2>
        <img src="/images/turnleft.png" alt="">
      </div>
      <div class="road">
        <img src="/images/road.jpg" alt="">
      </div>
      <div class="yobamma">
        <h2>YOBAMMA!</h2>
        <img src="/images/yobamma.jpg" alt="">
        <div class="opinion_all">
          <p>What do you think of this Website</p>
          <p>It has to be over 20 character's</p>
          <textarea placeholder="You're opinion here" name="opinion" id="opinion" cols="60" rows="10"></textarea>
        <div class="opinion_submit">
          <button onclick="opinion()" class="submit" type="submit">Submit</button>
        </div>
      </div>
  </body>
</html>
